---
layout: default
title: Work
---

<div class="section">
  <h2>{{ site.data.content.homepage.showreel.title }}</h2>
  <div class="video__container">
    <button id="video-controller" class="btn btn__dark btn__circle btn__scale">
      <span id="button-text" class="visually-hidden">Play video</span>
      <i id="button-icon" class="fas fa-play" aria-hidden="true"></i>
    </button>
    <video id="showreel" class="border-radius__large" poster="/assets/img/showreel.jpg" muted playsinline>
      <source src="/assets/img/showreel.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="section">
  <h2>{{ site.data.content.homepage.projects.title }}</h2>
  <div class="list">
    {% for project in site.data.content.homepage.projects.items %}
      {% include card.html
        url = project.url
        icon = project.icon
        size = 'small'
        badge = project.badge
        title = project.title
        description = project.description
        cta = 'Visit project website'
        external = project.external %}
    {% endfor %}
  </div>
</div>

<div class="section">
  <h2>{{ site.data.content.homepage.articles.title }}</h2>
  <div class="list">
    {% assign articles = site.article | sort: "date" | reverse %}
    {% for article in articles limit: 4 %}
      {% include card.html
        url = article.url
        icon = 'book'
        size = 'small'
        title = article.title
        description = article.description
        truncate = true
        cta = 'Read article'
        external = false %}
    {% endfor %}
  </div>
</div>

<div class="section">
  <h2 class="m-0">Location</h2>
  <p class="muted mt-2 mb-10">I work remotely from a town just outside of Canada’s capital city, Ottawa.</p>
  <div class="location-image">
    <img class="border-radius__large" src="/assets/img/ottawa-map.jpg" alt="Map of Ottawa, Ontario.">
  </div>
</div>