<button class="btn cart cart-trigger">
  <div class="notif"></div>
  <i class="fal fa-shopping-bag"></i>
  <span class="visually-hidden">Cart</span>
</button>

<div class="fade cart-trigger"></div>
<div class="cart__modal">
  <h2>Your cart</h2>
  <div class="cart_buttons mb-10">
    <button id="checkout" form="cart_form" class="btn btn__dark btn__round btn__padding-large disabled" type="submit" name="checkout" disabled>Checkout</button>
    <span class="muted">or</span>
    <a class="btn btn__link cart-trigger" href="/shop/collection/all">
      Continue shopping
      <i class="fal fa-arrow-right ml-1" aria-hidden="true"></i>
    </a>
  </div>
  <div class="subtotal">
    <p class="title">Subtotal</p>
    <p class="price">$<span id="subtotal">0</span> CAD</p>
  </div>
  <div class="loading_spinner"></div>
  <form id="cart_form"></form>
</div>

<script>
  if (window.localStorage.getItem('cart')) {
    document.querySelector('.notif').classList.toggle('.active');
  }

  document.querySelectorAll('.cart-trigger').forEach((el) => {
    el.addEventListener('click', () => {
      if (!document.querySelector('.cart__modal').classList.contains('active')) {
        toggleModal();
        getCartItems();
      } else {
        toggleModal();
      }
    });
  });
  function toggleModal() {
    document.querySelector('.cart__modal').classList.toggle('active');
    document.querySelector('.fade.cart-trigger').classList.toggle('active');
  }
  function createEmptyText() {
    if (!document.getElementById('cart__result')) {
      let result = document.createElement('p');
      result.classList.add('muted');
      result.setAttribute('id', 'cart__result');
      result.innerText = 'No products in your cart.';
      document.querySelector('.cart__modal').appendChild(result);
    }
  }

  document.getElementById('cart_form').addEventListener('submit', (event) => {
    event.preventDefault();
    document.getElementById('checkout').classList.add('loading');
    window.location.href = document.getElementById('checkout-url').value;
  });

  function getCartItems() {
    document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
    if (window.localStorage.getItem('cart')) {
      if (document.getElementById('cart__result')) {
        document.getElementById('cart__result').remove();
      }
      document.getElementById('checkout').classList.remove('disabled');
      document.getElementById('checkout').removeAttribute('disabled');
      document.getElementById('cart_form').innerHTML = '';
      const cart = JSON.parse(window.localStorage.getItem('cart')).reverse();
      var subtotal = 0;
      var cart_url = 'https://shop.connellmccarthy.com/cart/';
      var cart_url_contents;
      var cart_url_input = document.createElement('input');
      cart_url_input.setAttribute('type', 'hidden');
      cart_url_input.setAttribute('id', 'checkout-url');
      cart.forEach((product) => {
        subtotal += Number(product.price);
        if (cart_url_contents == null || cart_url_contents == '') {
          cart_url_contents = `${product.id}:1`;
        } else {
          cart_url_contents += `,${product.id}:1`;
        }

        //Create wrapper
        let result = document.createElement('div');
        result.classList.add('product');
        result.setAttribute('id', `product-${product.id}`);

        //Create contents

        //Create image + link
        let image = document.createElement('div');
        image.classList.add('image', 'border-radius__normal');
        let link = document.createElement('a');
        link.setAttribute('href', product.url);
        link.addEventListener('click', toggleModal);
        let img = document.createElement('img');
        img.setAttribute('src', product.image);
        img.setAttribute('alt', `${product.title} - ${product.option1} / ${product.option2}`)

        link.appendChild(img);
        image.appendChild(link);

        //Create controls
        let controls = document.createElement('div');
        controls.classList.add('controls');
        
        //Top
        let top = document.createElement('div');
        top.classList.add('top');
        let details = document.createElement('div');
        details.classList.add('details');

        let text_link = document.createElement('a');
        text_link.setAttribute('href', product.url);
        text_link.addEventListener('click', toggleModal);
        text_link.innerHTML = `<p class="title">${product.title}</p>`;
        details.appendChild(text_link);

        let variant = document.createElement('p');
        variant.classList.add('variant', 'muted');
        variant.innerText = `${product.option1} / ${product.option2}`;
        details.appendChild(variant);
        top.appendChild(details);

        let remove_item = document.createElement('button');
        remove_item.classList.add('btn', 'btn__circle', 'btn__basic', 'btn__icon');
        remove_item.setAttribute('data-id', `product-${product.id}`);
        let remove_item_icon = document.createElement('i');
        remove_item_icon.classList.add('far', 'fa-times');
        remove_item_icon.setAttribute('aria-hidden', true);
        let remove_item_text = document.createElement('span');
        remove_item_text.innerText = 'Remove product';
        remove_item_text.classList.add('visually-hidden');
        remove_item.appendChild(remove_item_icon).appendChild(remove_item_text);
        top.appendChild(remove_item);

        controls.appendChild(top);

        let bottom = document.createElement('div');
        bottom.classList.add('bottom');

        let price = document.createElement('p');
        price.classList.add('price');
        price.innerText = `$${product.price} CAD`;
        bottom.appendChild(price);

        controls.appendChild(bottom);


        //Put it together
        result.appendChild(image);
        result.appendChild(controls);

        //Add it to the cart
        document.getElementById('cart_form').appendChild(result);
        remove_item.addEventListener('click', () => {
          document.getElementById(remove_item.getAttribute('data-id')).remove();
          if (cart.length == 1) {
            window.localStorage.removeItem('cart');
            document.querySelector('.notif').classList.toggle('active');
            document.getElementById('checkout').classList.add('disabled');
            document.getElementById('checkout').setAttribute('disabled', true);
            cart_url_contents = cart_url_contents.replace(`${product.id}:1`, '');
            cart_url_input.value = '';
            createEmptyText();
          } else {
            let index = cart.indexOf(product);
            if (index == 0) {
              cart_url_contents = cart_url_contents.replace(`${product.id}:1,`, '');
            } else if (index == cart.length - 1) {
              cart_url_contents = cart_url_contents.replace(`,${product.id}:1`, '');
            } else {
              cart_url_contents = cart_url_contents.replace(`${product.id}:1,`, '');
            }
            cart_url_input.value = cart_url + cart_url_contents;
            if (index != -1) {
              cart.splice(index, 1);
            }
            window.localStorage.setItem('cart', JSON.stringify(cart));
          }
          subtotal -= Number(product.price);
          document.getElementById('subtotal').innerText = subtotal;
        });
      });
      cart_url_input.value = cart_url + cart_url_contents;
      document.getElementById('cart_form').appendChild(cart_url_input);
      document.getElementById('subtotal').innerText = subtotal;
      document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
    } else {
      document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
      createEmptyText();
    }
  }
</script>