<footer class="footer">
  <div class="footer__contents">
    <div class="wrapper condensed">
      <ul class="socials">
        {% for network in site.data.content.socials %}
          <li>
            <a class="btn btn__link" href="{{ network.url }}" target="_blank" rel="noopener nofollow">
              <span class="visually-hidden">{{ network.name }}</span>
              <i class="fab fa-{{ network.icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="sitemap">
        {% for link in site.data.linklists.footer %}
          <a class="btn btn__link mt-4" href="{{ link.url }}" {% if link.url contains 'http://' or link.url contains 'https://' %}target="_blank"{% endif %}>
            {{ link.title }}
          </a>
          {% unless forloop.index == site.data.linklists.footer.size %}
            <span class="muted-light">•</span>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
  <p class="copyright">© {{ 'now' | date: '%Y' }} Connell McCarthy</p>
</footer>

{% include scripts.html %}