{% assign media = "" | split: "" %} {% unless include.media %} {% assign offset = 1 %} {% assign offset_count =
include.count %} {% if include.offset %} {% assign offset = include.offset %} {% assign offset_count = include.count |
plus: include.offset | minus: 1 %} {% endif %} {% assign ordered_media = "" | split: "" %} {% for i in
(offset..offset_count) %} {% capture temp_asset %}{{ include.slug }}-{{ i }}.{{ include.format }}{% endcapture %} {%
assign ordered_media = temp_asset | concat: ordered_media %} {% endfor %} {% assign media = ordered_media | reverse %}
{% else %} {% assign media = include.media | split: ',' %} {% endunless %} {% assign unique_id = "now" | date: '%s' %}
{% if include.unique %} {% assign unique_id = unique_id | plus: include.unique %} {% endif %}

<div
  class="gallery"
  data-gallery
  id="{{ include.slug | append: unique_id }}"
  data-offset="{{ offset }}"
  data-count="{{ include.count }}"
>
  <div
    id="gallery_{{ include.slug | append: unique_id }}"
    class="gallery__track {% if media.size == 1 %}solo{% endif %}"
    data-gallery-track
  >
    {% for asset in media %} {% assign filename = asset | split: "." %}
    <div
      class="gallery__slide {% if media.size == 1 %}solo{% endif %}"
      data-gallery-slide
      data-index="{{ forloop.index0 }}"
      data-parent="gallery_{{ include.slug | append: unique_id }}"
    >
      {% if filename.last == 'mp4' or filename.last == 'webm' or filename.last == 'mov' %}
      <div class="video" data-parent="gallery_{{ include.slug | append: unique_id }}">
        <button
          data-id="video-controller"
          id="video-controller-{{ include.slug | append: unique_id }}_{{ forloop.index }}"
          data-for="image_{{ include.slug | append: unique_id }}_{{ forloop.index }}"
          class="btn btn__basic--dark btn__circle btn__icon btn__scale--subtle video-controller"
        >
          <span id="button-text" class="visually-hidden">Pause video</span>
          <i id="button-icon" class="fas fa-pause" aria-hidden="true"></i>
        </button>
        <video
          class="gallery__video"
          id="image_{{ include.slug | append: unique_id }}_{{ forloop.index }}"
          data-id="{{ include.slug | append: unique_id }}_{{ forloop.index }}"
          thumbnail="{{ include.path }}/{{ filename.first }}.jpg"
          muted
          loop
          playsinline
          autoplay
          state="playing"
          preload="auto"
        >
          <source src="{{ include.path }}/{{ filename.first }}.{{ filename.last }}" type="video/{{ filename.last }}" />
        </video>
      </div>
      {% else %}
      <img
        id="image_{{ include.slug | append: unique_id }}_{{ forloop.index }}"
        data-id="{{ include.slug | append: unique_id }}_{{ forloop.index }}"
        data-parent="gallery_{{ include.slug | append: unique_id }}"
        src="{{ include.path }}/{{ asset }}"
      />
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
