<div class="section credits">
  {% if include.heading %}
    <div class="heading">
      <h3>{{ include.headline }}</h3>
      <p class="muted">{{ include.description }}</p>
    </div>
  {% endif %}
  {% for group in include.groups %}
    <h4 class="title">{{ group.title }}</h4>
    <div class="section product-list">
      {% for item in group.items %}
        {% include card.html 
          title = item.title
          icon = item.icon
          description = item.description
          cta = item.cta
          url = item.url
          size = 'small'
          external = true %}
      {% endfor %}
    </div>
  {% endfor %}
</div>