<div class="nav-header">
  {% if site.data.content.announcement and site.data.content.announcement.display %}
    <div class="announcement">
      {% if site.data.content.announcement.url %}
        <a href="{{ site.data.content.announcement.url }}" {% if site.data.content.announcement.external %}target="_blank"{% endif %}>
          {{ site.data.content.announcement.title }}
          <i class="far fa-arrow-right {% if site.data.content.announcement.external %}external{% endif %}"></i>
        </a>
      {% else %}
        {{ site.data.content.announcement.title }}
      {% endif %}
    </div>
  {% endif %}
  <nav class="nav">
    <div class="nav__items">
      {% for link in site.data.content.menus.main %}
        <a href="{{ link.url }}" id="nav-{{ link.slug }}" class="btn btn__round nav__item{% if page.url == link.url %} active{% elsif link.url != '/' and page.url contains link.url %} active{% endif %}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
    <div class="logo">
      <a class="btn" href="/">
        <svg width="83" height="16" viewBox="0 0 83 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.4724 5.74326H13.2436C12.8798 4.54687 11.7037 1.97704 9.36341 1.29073L9.32218 1.26972C8.93739 1.19696 8.59383 1.16544 8.33354 1.16544C5.66994 1.16544 4.39109 4.01577 4.39109 8.37452C4.39109 12.7858 5.8785 15.3864 8.37557 15.3864C8.61485 15.3864 8.92688 15.3653 9.29065 15.2926L9.36341 15.2506C11.694 14.5642 12.8798 11.9839 13.2436 10.8085H13.4724L13.1603 15.2401C11.5687 15.6774 10.0392 15.9474 8.48955 15.9894C8.42731 15.9999 8.35455 15.9999 8.2915 15.9999H8.18722C3.44368 16.0007 0 12.9216 0 8.44809C0 3.90179 3.16236 0.55188 8.10396 0.55188H8.23896C9.87268 0.562389 11.4741 0.842895 13.1595 1.30124L13.4724 5.74326Z" fill="#0F0F0F"/>
          <path d="M26.5195 10.4447C26.5195 13.6386 23.9917 15.9998 20.5998 15.9998C17.2288 15.9998 14.701 13.6386 14.701 10.4447C14.701 7.27181 17.2499 4.88953 20.5998 4.88953C23.9917 4.88953 26.5195 7.27181 26.5195 10.4447ZM20.6103 15.5835C21.9215 15.5835 22.535 13.8253 22.535 10.4447C22.535 7.08426 21.9109 5.30584 20.5998 5.30584C19.2894 5.30584 18.696 7.08507 18.696 10.4447C18.696 13.8253 19.2999 15.5835 20.6103 15.5835Z" fill="#0F0F0F"/>
          <path d="M33.9507 15.75V15.6045L34.949 14.0023V8.00985C34.949 7.05274 34.4389 6.42867 33.4818 6.42867C32.8262 6.42867 32.2021 6.66795 31.7858 7.11498V13.9813L32.7842 15.6045V15.75H26.8547V15.6045L27.9363 14.0023V7.24028L26.9275 6.0649V5.90889L31.6815 4.88953L31.7858 5.00432V6.57499C32.6807 5.6591 33.9911 4.88953 35.552 4.88953C37.383 4.88953 38.7977 6.11745 38.7977 7.88536V13.9813L39.8793 15.6045V15.75H33.9507Z" fill="#0F0F0F"/>
          <path d="M47.529 15.75V15.6045L48.5274 14.0023V8.00985C48.5274 7.05274 48.0173 6.42867 47.0602 6.42867C46.4046 6.42867 45.7805 6.66795 45.3642 7.11498V13.9813L46.3625 15.6045V15.75H40.4331V15.6045L41.5147 14.0023V7.24028L40.5059 6.0649V5.90889L45.2599 4.88953L45.3642 5.00432V6.57499C46.2591 5.6591 47.5694 4.88953 49.1304 4.88953C50.9614 4.88953 52.376 6.11745 52.376 7.88536V13.9813L53.4576 15.6045V15.75H47.529Z" fill="#0F0F0F"/>
          <path d="M63.9898 13.274C62.9389 14.97 61.4725 15.9998 59.0587 15.9998C55.8341 15.9998 53.7946 13.7525 53.7946 10.6112C53.7946 7.24028 56.062 4.88953 59.4023 4.88953C62.4919 4.88953 64.2711 7.08426 64.2711 9.79959H57.7063C57.6958 9.85133 57.6958 9.89337 57.6958 9.95561C57.8 12.5772 59.0902 13.9918 61.1079 13.9918C62.356 13.9918 63.2824 13.5238 63.8233 13.1285L63.9898 13.274ZM57.7063 9.45604L60.5154 9.24828C60.5154 6.42867 60.1613 5.38829 59.2042 5.38829C58.1751 5.38829 57.7378 6.92825 57.7063 9.45604Z" fill="#0F0F0F"/>
          <path d="M69.2462 0L69.3707 0.114789V13.9825L70.4523 15.6057V15.7512H64.4396V15.6057L65.5212 14.0035V2.34105L64.6053 1.16568V1.02017L69.2462 0Z" fill="#0F0F0F"/>
          <path d="M75.8123 0L75.9368 0.114789V13.9825L77.0184 15.6057V15.7512H71.0057V15.6057L72.0873 14.0035V2.34105L71.1715 1.16568V1.02017L75.8123 0Z" fill="#0F0F0F"/>
          <path d="M79.9459 12.0049C81.1633 12.0049 82.0266 12.8577 82.0266 13.9919C82.0266 15.1778 81.1633 15.9999 79.9459 15.9999C78.739 15.9999 77.8651 15.1778 77.8651 13.9919C77.8651 12.848 78.7179 12.0049 79.9459 12.0049Z" fill="#0F0F0F"/>
        </svg>        
      </a>
    </div>
    <div class="nav__ctas">
      <a class="btn btn__link" href="https://read.cv/connellmccarthy?ref=connellmccarthy.com" target="_blank" rel="noopener">Read my CV <i class="far fa-arrow-right external"></i></a>
      <button class="btn btn__basic cart cart-trigger">Cart <div class="notif"></div></button>
    </div>
  </nav>
</div>
<main id="swup-shop-nav" class="transition-fade" aria-live="polite">
  {% if page.url contains '/prints' %}
    {% unless page.url contains '/products/' %}
      {% include shop/shop-nav.html %}
    {% endunless %}
  {% endif %}
</main>
<main id="swup-article-info" class="transition-fade" aria-live="polite">
  {% if page.url contains '/article' and page.url != '/article/' %}
    <div class="article-info">
      <div class="wrapper">
        <a href="/article" class="btn btn__basic">
          <span class="visually-hidden">Back to articles</span>
          <i class="far fa-arrow-left" aria-hidden="true"></i>
        </a>
        <div class="details">
          <p class="title">{{ page.title }}</p>
          <p class="muted">{{ page.date | date: "%B %d, %Y" }}</p>
        </div>
        <button id="like_button_sticky" class="btn btn__basic like_button processing">
          <i class="far fa-heart like_button_icon"></i>
          <span class="count">•</span>
        </button>
      </div>
    </div>
  {% endif %}
</main>

<div class="fade cart-trigger"></div>
<div class="cart__modal">
  <button class="btn cart__modal__resizer" aria-label="Close cart modal"></button>
  <div class="cart__modal__contents">
    <h2>Your cart</h2>
    <div class="cart_buttons mb-10">
      <button id="checkout" form="cart_form" class="btn btn__dark btn__round btn__padding-large disabled" type="submit" name="checkout" disabled>Checkout</button>
      <span class="muted">or</span>
      <a class="btn btn__link cart-trigger" href="/prints/collections/all">
        Continue shopping
        <i class="fal fa-arrow-right ml-1" aria-hidden="true"></i>
      </a>
    </div>
    <div class="subtotal">
      <p class="title">Subtotal</p>
      <p class="price">$<span id="subtotal">0</span> CAD</p>
    </div>
    <div class="loading_spinner"></div>
    <form id="cart_form"></form>
  </div>
</div>

<script>
  if (window.localStorage.getItem('cart')) {
    document.querySelector('.notif').classList.toggle('.active');
  }

  document.querySelectorAll('.cart-trigger').forEach((el) => {
    el.addEventListener('click', () => {
      if (!document.querySelector('.cart__modal').classList.contains('active')) {
        toggleModal();
        getCartItems();
      } else {
        toggleModal();
      }
    });
  });
  function toggleModal() {
    document.querySelector('.cart__modal').classList.toggle('active');
    document.querySelector('.fade.cart-trigger').classList.toggle('active');
    document.querySelector('body').classList.toggle('no-scroll');
  }
  function createEmptyText() {
    if (!document.getElementById('cart__result')) {
      let result = document.createElement('p');
      result.classList.add('muted');
      result.setAttribute('id', 'cart__result');
      result.innerText = 'No products in your cart.';
      document.querySelector('.cart__modal__contents').appendChild(result);
    }
  }

  document.getElementById('cart_form').addEventListener('submit', (event) => {
    event.preventDefault();
    document.getElementById('checkout').classList.add('loading');
    window.location.href = document.getElementById('checkout-url').value;
  });

  function getCartItems() {
    document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
    if (window.localStorage.getItem('cart')) {
      if (document.getElementById('cart__result')) {
        document.getElementById('cart__result').remove();
      }
      document.getElementById('checkout').classList.remove('disabled');
      document.getElementById('checkout').removeAttribute('disabled');
      document.getElementById('cart_form').innerHTML = '';
      const cart = JSON.parse(window.localStorage.getItem('cart')).reverse();
      var subtotal = 0;
      var cart_url = 'https://shop.connellmccarthy.com/cart/';
      var cart_url_contents;
      var cart_url_input = document.createElement('input');
      cart_url_input.setAttribute('type', 'hidden');
      cart_url_input.setAttribute('id', 'checkout-url');
      cart.forEach((product) => {
        subtotal += Number(product.price);
        if (cart_url_contents == null || cart_url_contents == '') {
          cart_url_contents = `${product.id}:1`;
        } else {
          cart_url_contents += `,${product.id}:1`;
        }

        //Create wrapper
        let result = document.createElement('div');
        result.classList.add('product');
        result.setAttribute('id', `product-${product.id}`);

        //Create contents

        //Create image + link
        let image = document.createElement('div');
        image.classList.add('image', 'border-radius__normal');
        let link = document.createElement('a');
        link.setAttribute('href', product.url);
        link.addEventListener('click', toggleModal);
        let img = document.createElement('img');
        img.setAttribute('src', product.image);
        img.setAttribute('alt', `${product.title} - ${product.option1} / ${product.option2}`)

        link.appendChild(img);
        image.appendChild(link);

        //Create controls
        let controls = document.createElement('div');
        controls.classList.add('controls');
        
        //Top
        let top = document.createElement('div');
        top.classList.add('top');
        let details = document.createElement('div');
        details.classList.add('details');

        let text_link = document.createElement('a');
        text_link.setAttribute('href', product.url);
        text_link.addEventListener('click', toggleModal);
        text_link.innerHTML = `<p class="title">${product.title}</p>`;
        details.appendChild(text_link);

        let variant = document.createElement('p');
        variant.classList.add('variant', 'muted');
        variant.innerText = `${product.option1} / ${product.option2}`;
        details.appendChild(variant);
        top.appendChild(details);

        let remove_item = document.createElement('button');
        remove_item.classList.add('btn', 'btn__circle', 'btn__basic', 'btn__icon');
        remove_item.setAttribute('data-id', `product-${product.id}`);
        let remove_item_icon = document.createElement('i');
        remove_item_icon.classList.add('far', 'fa-times');
        remove_item_icon.setAttribute('aria-hidden', true);
        let remove_item_text = document.createElement('span');
        remove_item_text.innerText = 'Remove product';
        remove_item_text.classList.add('visually-hidden');
        remove_item.appendChild(remove_item_icon).appendChild(remove_item_text);
        top.appendChild(remove_item);

        controls.appendChild(top);

        let bottom = document.createElement('div');
        bottom.classList.add('bottom');

        let price = document.createElement('p');
        price.classList.add('price');
        price.innerText = `$${product.price} CAD`;
        bottom.appendChild(price);

        controls.appendChild(bottom);


        //Put it together
        result.appendChild(image);
        result.appendChild(controls);

        //Add it to the cart
        document.getElementById('cart_form').appendChild(result);
        remove_item.addEventListener('click', () => {
          document.getElementById(remove_item.getAttribute('data-id')).remove();
          if (cart.length == 1) {
            window.localStorage.removeItem('cart');
            document.querySelector('.notif').classList.toggle('active');
            document.getElementById('checkout').classList.add('disabled');
            document.getElementById('checkout').setAttribute('disabled', true);
            cart_url_contents = cart_url_contents.replace(`${product.id}:1`, '');
            cart_url_input.value = '';
            createEmptyText();
          } else {
            let index = cart.indexOf(product);
            if (index == 0) {
              cart_url_contents = cart_url_contents.replace(`${product.id}:1,`, '');
            } else if (index == cart.length - 1) {
              cart_url_contents = cart_url_contents.replace(`,${product.id}:1`, '');
            } else {
              cart_url_contents = cart_url_contents.replace(`${product.id}:1,`, '');
            }
            cart_url_input.value = cart_url + cart_url_contents;
            if (index != -1) {
              cart.splice(index, 1);
            }
            window.localStorage.setItem('cart', JSON.stringify(cart));
          }
          subtotal -= Number(product.price);
          document.getElementById('subtotal').innerText = subtotal;
        });
      });
      cart_url_input.value = cart_url + cart_url_contents;
      document.getElementById('cart_form').appendChild(cart_url_input);
      document.getElementById('subtotal').innerText = subtotal;
      document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
    } else {
      document.querySelector('.cart__modal .loading_spinner').classList.toggle('active');
      createEmptyText();
    }
  }

  document.querySelector('.cart__modal__resizer').addEventListener('click', () => {
    toggleModal();
  });
</script>