{% assign offset = 1 %}
{% assign offset_count = include.count %}
{% if include.offset %}
  {% assign offset = include.offset %}
  {% assign offset_count = include.count | plus: include.offset | minus: 1 %}
{% endif %}

{% assign unique_id = "now" | date: '%s' %}
{% if include.unique %}
  {% assign unique_id = unique_id | plus: include.unique %}
{% endif %}


<div class="slideshow" id="{{ include.slug | append: unique_id }}" data-offset="{{ offset }}" data-count="{{ include.count }}">
  <div class="slideshow__hitmarkers" id="ss_hitmarkers_{{ include.slug | append: unique_id }}">
    <button id="ss_nav_{{ include.slug | append: unique_id }}" class="left ss_nav" data-direction="prev">
      <i class="fas fa-circle-chevron-left" aria-hidden="true"></i>
      <span class="visually-hidden">Previous image</span>
    </button>
    <button id="ss_nav_{{ include.slug | append: unique_id }}" class="right ss_nav" data-direction="next">
      <i class="fas fa-circle-chevron-right" aria-hidden="true"></i>
      <span class="visually-hidden">Next image</span>
    </button>
  </div>
  <div id="slideshow_{{ include.slug | append: unique_id }}" class="slideshow__container">
    {% for i in (offset..offset_count) %}
      {% assign image_id = i | append: "" %}
      <img id="image_{{ include.slug | append: unique_id }}_{{ forloop.index }}" data-id="{{ include.slug | append: unique_id }}_{{ forloop.index }}" src="{{ include.path }}/{{ include.slug }}-{{ i }}.{{ include.format }}">
    {% endfor %}
  </div>
  <div class="slideshow__thumbnails">
    {% for x in (offset..offset_count) %}
      {% assign image_id = x | append: "" %}
      <button class="thumbnail{% if x == offset %} active{% endif %}" id="thumb_{{ include.slug | append: unique_id }}_{{ forloop.index }}" data-id="{{ include.slug | append: unique_id }}_{{ forloop.index }}">
        <img src="{{ include.path }}/{{ include.slug }}-{{ x }}.{{ include.format }}">
      </button>
    {% endfor %}
  </div>
</div>