$color-white: #fff;
$color-black: #000;
$color-border: #dadada;
$color-grey: #f1f1f1;
$color-grey-light: #fafafa;
$color-ink: #3f3f3f;
$color-ink-dark: #0f0f0f;
$color-ink-muted: #717171;
$color-blue: #5200ff;
$color-heart: #db4a6d;

.muted {
  color: $color-ink-muted;
}
.muted-light {
  color: $color-border;
}
