$color-white: #FFF;
$color-black: #000;
$color-border: #DADADA;
$color-grey: #F8F8F8;
$color-ink: #1B1B1B;
$color-ink-muted: #3D3D3D;
$color-ink-muted-light: #6a6a6a;
$color-blue: #5200FF;
$color-heart: #DB4A6D;

.muted {
  color: $color-ink-muted;
}