$color-white: #FFF;
$color-black: #000;
$color-border: #DADADA;
$color-grey: #F1F1F1;
$color-grey-light: #FAFAFA;
$color-ink: #3F3F3F;
$color-ink-dark: #0F0F0F;
$color-ink-muted: #717171;
$color-blue: #5200FF;
$color-heart: #DB4A6D;

.muted {
  color: $color-ink-muted;
}
.muted-light {
  color: $color-border;
}