.footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  &__contents {
    width: 100%;
    padding: 4em 0 2em;
  }
  .socials {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 2em auto;
    justify-content: center;
    align-items: center;

    li {
      font-size: 1.2em;
      margin: 0 0.4em;
    }
  }
  a {
    color: $color-ink;
    &:hover {
      color: $color-blue;
    }
  }
  .sitemap {
    margin: auto;
    padding: 0 8em;
    @media screen and (max-width: $break-mobile) {
      padding: 0;
    }
  }
  .copyright {
    font-size: 0.8em;
    color: $color-ink-muted;
    margin: 0;
    padding: 0 1em 4em;
  }
}