.lightbox {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s, visibility 0.1s;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  button {
    cursor: pointer;
    position: absolute;
    z-index: 2;
  }

  &__close {
    top: 2em;
    right: 2em;

    @media screen and (max-width: $break-mobile) {
      top: 1em;
      right: 1em;
    }
  }

  &__nav {
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: $break-mobile) {
      display: none !important;
    }

    &--prev {
      left: 2em;
    }
    &--next {
      right: 2em;
    }
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__container {
    width: auto;
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    &--content {
      max-width: 100vw;
      max-height: 100vh;
      user-select: none;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      img,
      video {
        max-width: 100%;
        max-height: 100vh;
        object-fit: contain;
        pointer-events: none;
      }
    }
  }
}
.gallery {
  --max-height: 420px;
  position: relative;
  margin: 2em 0;
  width: 100%;
  overflow: hidden;
  touch-action: pan-y pinch-zoom;
  user-select: none;

  &__track {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6em;
    overflow-x: auto;
    padding: 0 var(--article-padding);
    cursor: grab;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;

    &.is-dragging {
      scroll-snap-type: none;
      scroll-snap-align: none;
      scroll-behavior: auto;
    }

    &:active {
      cursor: grabbing;
    }

    scrollbar-width: 0;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    flex-shrink: 0;
    width: fit-content;
    max-width: 85%;
    height: fit-content;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: $border-radius-large;
    overflow: hidden;
    scroll-snap-align: center;

    transition: transform 0.3s ease;
    transform: scale(1);
    &:active {
      transform: scale(0.99);
    }

    &.solo {
      max-width: 100%;
    }

    img,
    .video {
      max-height: var(--max-height);
      max-width: 100%;
      width: auto;
      height: auto;
      display: block;
      pointer-events: none;
    }

    .video video {
      max-height: var(--max-height);
      max-width: 100%;
      width: auto;
    }
  }
}
