.nav-header {
  background: $color-black;
  width: 100%;
  position: relative;
  z-index: 97;
  padding-top: 0.2em;
}
.announcement {
  text-align: center;
  padding: 0.8em 0 1em;
  color: $color-white;
  font-size: 0.9em;
  a {
    text-decoration: none;
    color: $color-white;
  }
}
.nav {
  background: $color-white;
  border-radius: $border-radius-large $border-radius-large 0 0;
  border-bottom: 1px solid $color-border;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 1em 2em;
  align-items: center;

  
  div:nth-of-type(1){
    justify-self: flex-start;
  }
  div:nth-of-type(2) {
    justify-self: center;
  }
  div:nth-of-type(3) {
    justify-self: flex-end;
  }
  
  .btn {
    padding: 0.6em 1em;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    transition: background 0.3s ease;
    &:hover {
      background: $color-grey-light;
    }
    &.active {
      background: $color-grey;
      color: $color-ink-dark;
    }
  }
}

#swup-shop-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 97;
}
.shop-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 2em;
  background: $color-white;
  border-bottom: 1px solid $color-border;

  .divider {
    width: 1px;
    height: 30px;
    border-right: 1px solid $color-border;
    margin: 0 1em;
    display: block;
    position: relative;
  }

  a {
    padding: 1.6em 1em;
    margin: 0;
    border-radius: 0;
    white-space: nowrap;
    transition: border-color 0.3s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: $color-border;
    }

    &.active {
      color: $color-ink-dark;
      border-color: $color-ink-dark;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}

button.cart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .notif {
    height: 6px;
    width: 6px;
    border: 1px solid $color-ink-muted;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.4em;

    &.active {
      background: $color-blue;
      border-color: $color-blue;
    }
  }
}
.cart_buttons {
  display: flex;
  align-items: center;
  margin: 0 auto 3em;
  width: -moz-fit-content;
  width: fit-content;

  span {
    margin: 0 1em;
  }
}

.fade.cart-trigger {
  z-index: 98;
}
.cart__modal {
  background: $color-white;
  border: 1px solid $color-border;
  position: fixed;
  width: 100%;
  max-width: calc(1000px - 12em);
  max-height: 80vh;
  bottom: -1px;
  left: 50%;
  z-index: 99;
  border-radius: 2em 2em 0 0;
  padding: 3em 0 0;
  text-align: center;
  transform: translate(-50%, 100%);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);

  &__contents {
    max-height: calc(80vh - 2em);
    overflow-y: auto;
    padding: 0 3em 3em;
  }
  &__resizer {
    position: absolute !important;
    background: none !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;

    &:before,
    &:after {
      content: '';
      height: 4px;
      width: 20px;
      background: $color-border;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-10%, -50%) rotate(-20deg);
    }
    &:after {
      transform: translate(-90%, -50%) rotate(20deg);
    }
  }

  &.active {
    transform: translate(-50%, 0);
  }

  input[type="text"] {
    width: 100%;
  }

  .loading_spinner {
    height: 45px;
    width: 45px;
    border-top: 4px solid $color-blue;
    border-right: 4px solid rgba(0,0,0,0.2);
    border-bottom: 4px solid rgba(0,0,0,0.2);
    border-left: 4px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    animation-name: loading_spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
    margin: auto;
    display: none;

    &.active {
      display: block;
    }
  }
  @keyframes loading_spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  h2 {
    font-size: 2.4em;
    font-weight: 500;
    font-style: normal;
  }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid lighten($color-border, 5);
    max-width: 600px;
    margin: auto;

    &:first-of-type {
      border-top: 1px solid lighten($color-border, 5);
    }

    .image {
      width: 40%;
      height: 320px;
      overflow: hidden;

      a {
        height: 100%;
        width: 100%;

        &:focus,
        &:active {
          outline: 2px solid lighten($color-blue, 30);
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }

        &:hover {
          &:after {
            width: 0;
          }
        }
      }

      @media screen and (max-width: $break-mobile) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .controls {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

        a {
          text-decoration: none;
          color: inherit;
          
          &:focus,
          &:active {
            outline: 2px solid lighten($color-blue, 30);
          }
        }

        p {
          &.title {
            margin: 0;
            font-size: 1.2em;
            font-weight: 500;
          }
          &.variant {
            margin: 0.2em 0 0;
            font-size: 1em;
          }
        }
      }
      .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p.price {
          font-weight: 500;
          font-size: 1em;
        }
      }

      @media screen and (max-width: $break-mobile) {
        padding-left: 0;
      }
    }
    .quant_select {
      display: flex;

      input {
        appearance: none;
        -webkit-appearance: none;
        padding: 0;
        border: 0;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        width: 5em;
        height: 43px;
        text-align: center;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=number] {
        -moz-appearance: textfield;
      }

      a {
        border-color: $color-border;
        border-radius: 0;
        padding: 12px 18px;

        &:first-of-type {
          border-radius: 25px 0 0 25px;
        }
        &:last-of-type {
          border-radius: 0 25px 25px 0;
        }

        i {
          left: 0;
        }
        &:hover {
          background: lighten($color-border, 18%);
          color: $color-black;
          i {
            left: 0;
          }
        }
      }
    }
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    max-width: 600px;
    margin: auto;
    border-top: 1px solid lighten($color-border, 5);
    color: $color-ink-dark;

    p {
      &.price {
        font-weight: 500;
      }
    }
  }

}