$nav-animate: 0.4s cubic-bezier(0.33, 1, 0.68, 1);

.announcement-margin-top {
  height: 2.5em;
  width: 100%;
}

.new-nav {
  position: fixed;
  top: 1em;
  left: 50%;
  z-index: 90;
  padding: 0.6em;
  gap: 12px;
  width: calc(100% - 2em);
  max-width: 300px;
  height: fit-content;
  max-height: 50px;
  overflow: hidden;
  transition: max-height $nav-animate, max-width $nav-animate;
  transform: translateX(-50%);
  transform-origin: top center;
  
  background: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: $border-radius-large;

  @media screen and (max-width: $break-mobile) {
    max-width: 250px;
  }

  &.announcement {
    max-width: 480px;
    max-height: 95px;
    &.menu-active,&.cart-active {
      max-height: 800px;
      max-width: 620px;
    }
  }

  &.menu-is-open {
    .new-nav__interactive {
      display: flex;
    }
  }
  &.cart-is-open {
    .new-nav__cart {
      display: block;
    }
  }
  
  &.menu-active {
    max-height: 800px;
    max-width: 440px;
    .new-nav__interactive {
      clip-path: inset(0 0 0 0);
    }
    .new-nav__items {
      li {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &.cart-active {
    max-height: 800px;
    max-width: 440px;
    .new-nav__cart {
      clip-path: inset(0 0 0 0);
      h2, .cart_buttons, .subtotal, .product {
        opacity: 1;
      }
      .cart_buttons, .product {
        transform: translateY(0);
      }
    }
  }

  &__announcement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    background: #ECE9FF;
    border-radius: $border-radius-normal;
    margin-bottom: 0.4em;
    transition: 0.4s ease;

    i.fa-arrow-right {
      color: $color-blue;
      opacity: 0;
      transition: 0.4s ease;
      @media screen and (max-width: $break-mobile) {
        opacity: 1;
      }
    }

    &:hover {
      background: darken(#ECE9FF, 2);
      i.fa-arrow-right {
        opacity: 1;
      }
    }
    .details {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 4em;

      @media screen and (max-width: $break-mobile) {
        flex-direction: column;
        align-items: flex-start;
        height: 1.2em;
        overflow: hidden;
      }

      .divider {
        width: 1px;
        height: 14px;
        background: #CCCBD6;
        margin: 0 0.6em;
        @media screen and (max-width: $break-mobile) {
          display: none;
        }
      }
      
      p {
        margin: 0;
        line-height: 1.2em;
        &.description {
          color: #6F6A8D;
        }
      }
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-blue;
        font-weight: 500;
        white-space: nowrap;
        
        @media screen and (max-width: $break-mobile) {
          animation: announc-swap 8s infinite linear;
        }
        
        i {
          margin-right: 0.4em;
        }
      }
      .description {
        @media screen and (max-width: $break-mobile) {
          animation: announc-swap 8s infinite linear;
        }
      }
      @keyframes announc-swap {
        0%,40% {
          transform: translateY(0);
        }
        50%,90% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }

  &__static {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    align-items: center;

    .logo {
      margin: auto;
    }
    :first-child {
      justify-self: flex-start;
    }
    :last-child {
      justify-self: flex-end;
    }
  }
  .btn {
    display: flex;
    align-items: center;
    
    .notif {
      height: 6px;
      width: 6px;
      border: 1px solid $color-ink-muted;
      border-radius: 50%;
      display: inline-block;
      margin-left: 0.4em;
    
      &.active {
        background: $color-blue;
        border-color: $color-blue;
      }
    }
  }
  &__interactive {
    clip-path: inset(0 0 100% 0);
    transition: clip-path $nav-animate;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    display: none;
  }
  &__items {
    margin: 1em 0 0;
    padding: 0.4em;
    border-radius: $border-radius-normal;
    background: rgba(0,0,0,0.05);
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    transition: transform $nav-animate, max-height $nav-animate;
    display: none;
    max-height: 0px;

    &.grandchild {
      transform: translate(-100%);
    }

    &:first-of-type {
      display: block;
      max-height: 50vh;
    }

    &.is-open {
      display: block;
      max-height: 0px;
    }
    &#nav_main.is-closed {
      transform: translateX(-100%);
      max-height: 0px;
    }
    &.active {
      &.child {
        transform: translateX(-100%);
        &.open-child {
          transform: translateX(-200%);
        }
      }
      &.grandchild {
        transform: translateX(-200%);
      }
      max-height: 50vh;
      overflow-y: scroll;
    }

    li {
      margin: 0.4em 0;
      transition: all $nav-animate;
      transition-delay: var(--transition-delay);
      opacity: 0;
      transform: translateY(150%);
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }

      &.title {
        display: flex;
        align-items: center;

        .btn {
          width: fit-content;
          margin-right: 0.4em;
          i {
            margin-right: 0;
          }
        }
        p {
          margin: 0;
          &.divider {
            margin: 0 0.4em;
          }
        }
      }
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn{
      display: flex;
      align-items: center;
      width: 100%;
      .badge {
        margin: 0 0.4em;
        top: 0;
      }
      i {
        opacity: 0.5;
        margin-right: 0.4em;
      }
      &.active {
        background: $color-ink-dark;
        color: $color-white;
      }
    }
  }
  &__cart {
    margin: 1em 0 0;
    padding: 0.4em;
    border-radius: 6px;
    background: rgba(0,0,0,0.05);
    clip-path: inset(0 0 100% 0);
    transition: clip-path $nav-animate;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 55vh;
    display: none;

    &__contents {
      padding: 0 1em 0;
    }
    .cart_buttons {
      display: flex;
      align-items: center;
      margin: 0 auto 3em;
      width: -moz-fit-content;
      width: fit-content;
      transition: opacity $nav-animate, transform $nav-animate;
      opacity: 0;
      transform: translateY(20%);
    
      span {
        margin: 0 1em;
      }
    }

    input[type="text"] {
      width: 100%;
    }
    .loading_spinner {
      height: 45px;
      width: 45px;
      border-top: 4px solid $color-blue;
      border-right: 4px solid rgba(0,0,0,0.2);
      border-bottom: 4px solid rgba(0,0,0,0.2);
      border-left: 4px solid rgba(0,0,0,0.2);
      border-radius: 50%;
      animation-name: loading_spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transform-origin: center;
      margin: auto;
      display: none;
  
      &.active {
        display: block;
      }
    }
    @keyframes loading_spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    h2 {
      text-align: center;
      font-size: 1.4em;
      margin: 0.6em;
      opacity: 0;
      transition: opacity $nav-animate;
    }
    .product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 1em 0;
      border-top: 1px solid rgba(0,0,0,0.05);
      transition: opacity $nav-animate, transform $nav-animate;
      transform: translateY(20%);
      opacity: 0;
      transition-delay: var(--transition-delay);
  
      .image {
        width: 20%;
        overflow: hidden;
  
        a {
          height: 100%;
          width: 100%;
  
          &:focus,
          &:active {
            outline: 2px solid lighten($color-blue, 30);
          }
  
          img {
            object-fit: cover;
            width: 100%;
          }
  
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
  
      .controls {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2em;
  
        .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-align: left;
  
          a {
            text-decoration: none;
            color: inherit;
            
            &:focus,
            &:active {
              outline: 2px solid lighten($color-blue, 30);
            }
          }
  
          p {
            &.title {
              margin: 0;
              font-weight: 500;
              color: $color-ink-dark;
            }
            &.variant {
              margin: 0;
              font-size: 0.9em;
            }
          }
        }
        .bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
  
          p.price {
            font-weight: 500;
            font-size: 0.9em;
            margin: 0;
          }
        }
      }
      .quant_select {
        display: flex;
  
        input {
          appearance: none;
          -webkit-appearance: none;
          padding: 0;
          border: 0;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
          width: 5em;
          height: 43px;
          text-align: center;
        }
  
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          appearance: none;
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          appearance: textfield;
          -moz-appearance: textfield;
        }
  
        a {
          border-color: $color-border;
          border-radius: 0;
          padding: 12px 18px;
  
          &:first-of-type {
            border-radius: 25px 0 0 25px;
          }
          &:last-of-type {
            border-radius: 0 25px 25px 0;
          }
  
          i {
            left: 0;
          }
          &:hover {
            background: lighten($color-border, 18%);
            color: $color-black;
            i {
              left: 0;
            }
          }
        }
      }
    }
    .subtotal {
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      margin: auto;
      border-top: 1px solid rgba(0,0,0,0.05);
      color: $color-ink-dark;
      font-size: 1.1em;
      transition: opacity $nav-animate;
  
      p {
        &.price {
          font-weight: 500;
        }
      }
    }
    p#cart__result {
      text-align: center;
    }
  }
}