.new-nav {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  padding: 0.6em;
  gap: 12px;

  background: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: $border-radius-large;

  &__static {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;

    .logo {
      margin: auto;
    }
  }
  .btn {
    display: flex;
    align-items: center;
    
    .notif {
      height: 6px;
      width: 6px;
      border: 1px solid $color-ink-muted;
      border-radius: 50%;
      display: inline-block;
      margin-left: 0.4em;
    
      &.active {
        background: $color-blue;
        border-color: $color-blue;
      }
    }
  }
}