.product-header {
  background: $color-grey;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: -151px;
  // border-bottom: 1px solid $color-border;

  @media screen and (max-width: $break-mobile) {
    height: 90vh;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none !important;

    @media screen and (max-width: $break-mobile) {
      width: 150%;
      transform: rotate(5deg) scale(1.2) translate(-20px, -40px) !important;
    }
  }

  .wrapper {
    margin-top: 150px;
    height: calc(100% - 210px);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $break-mobile) {
      margin-top: 140px;
      z-index: 0;

      height: calc(100% - 181px);
    }

    a {
      width: -moz-fit-content;
      width: fit-content;
    }
    h1 {
      font-weight: 600;
      font-size: 2.6em;
      line-height: 1.4em;
      margin: 0;
      width: -moz-fit-content;
      width: fit-content;
    }
    p.price {
      margin: 0.2em 0 1em;
      font-size: 1.2em;
    }
  }

  &.dark {
    background: #202020;

    h1 {
      color: $color-white;
    }
    p.price {
      color: darken($color-white, 5);
    }
  }
}
.product-features {
  width: 100%;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  margin-bottom: 40px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    li {
      padding: 2em;
      width: 25%;
      text-align: center;
      border-right: 1px solid $color-border;

      &:last-of-type {
        border-right: none;
      }

      @media screen and (max-width: $break-mobile) {
        width: 50%;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-bottom: 1px solid $color-border;
        }
        &:nth-of-type(even) {
          border-right: none;
        }
      }

      p {
        margin: 0.4em 0 0;
      }
    }
  }
}
.product-description {
  width: 100%;
  max-width: 800px;
  margin: 120px auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;

  p {
    color: $color-ink-muted;

    &:first-of-type {
      font-size: 1.2em;
      font-weight: 600;
      color: $color-ink;
    }
  }

  @media screen and (max-width: $break-mobile) {
    text-align: left;
  }
}
