.video_modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: $color-black;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease-in-out;

  .btn.close {
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 999;

    @media screen and (max-width: $break-mobile) {
      top: 1em;
      right: 1em;
    }
  }

  .video_wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    transform: scale(0.5);
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &.active {
    opacity: 1;

    .video_wrapper {
      transform: scale(1);
    }
  }
}

.value-icon {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-border;
  color: $color-ink;
  font-size: 2em;
  border-radius: 50%;
  margin: 0 1em 1em 0;
}

.intro-text {
  margin: 8em 0;
  @media screen and (max-width: $break-mobile) {
    margin: 6em 0;
  }
}
h2.treecount {
  font-size: 5em;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  @media screen and (max-width: $break-mobile) {
    font-size: 3em;
  }
  span.loading {
    color: transparent;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border-top: 2px solid $color-ink;
      border-left: 2px solid rgba(0,0,0,0.2);
      border-right: 2px solid rgba(0,0,0,0.2);
      border-bottom: 2px solid rgba(0,0,0,0.2);
      position: absolute;
      margin-top: 0.08em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: loading;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transform-origin: center;
    }
  }
}
.avatar-depth {
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 10px 25px -15px rgba(0,0,0,0.35);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.shop-section {
  margin: 10em 0;
  
  &.shop-hero {
    border: none;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      max-width: unset;
    }

    .prints-at-home {
      position: relative;

      a {
        top: 53%;

        &:nth-of-type(1) {
          left: 8%;
          @media screen and (max-width: $break-mobile) {
            left: 42px;
          }
        }
        &:nth-of-type(2) {
          left: 23%;
          @media screen and (max-width: $break-mobile) {
            left: 138px;
          }
        }
        &:nth-of-type(3) {
          left: 38%;
          @media screen and (max-width: $break-mobile) {
            left: 234px;
          }
        }
      }

      @media screen and (max-width: $break-mobile) {
        img {
          height: 400px;
          object-fit: cover;
          object-position: center left;
          border-radius: 0 !important;
        }
        a:after {
          display: none;
        }
      }
    }

    h1 {
      font-size: 3em;
      font-family: $font-serif;
      font-weight: 400;
      font-style: italic;
      line-height: 1em;
    }

    @media screen and (max-width: $break-mobile) {
      .wrapper {
        padding: 0;
      }
    }
  }

  &.no-margin {
    margin-top: 0;
    margin-bottom: 4em;
  }

  ol {
    padding: 1.3em;
    li {
      margin: 0.6em 0;
    }
  }

  @media screen and (max-width: $break-mobile) {
    margin: 6em 0;
  }

  &.flex {
    flex-wrap: wrap;
  }

  &.image-right {
    flex-wrap: wrap-reverse;
    .image {
      margin-left: 8em;
      @media screen and (max-width: $break-mobile) {
        margin: 0 0 2em;
      }
    }
  }
  &.image-left {
    flex-wrap: wrap;
    .image {
      margin-right: 8em;
      @media screen and (max-width: $break-mobile) {
        margin: 0 0 2em;
      }
    }
  }

  .value-content {
    width: calc(100% - 60px - 2em);

    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }

  &.full {
    .content {
      max-width: 500px;
      margin: auto;
      text-align: center;

      &.left {
        text-align: left;
      }

      @media screen and (max-width: $break-mobile) {
        &:not(.trees) {
          text-align: left;
        }
        max-width: unset;
      }
    }
  }
  .image {
    position: relative;
    width: calc(50% - 4em);

    .product-tag {
      bottom: 1em;
      left: 1em;
    }

    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }
  .content:not(.shop-section.full .content) {
    width: calc(50% - 4em);
    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }
}
.product-tag {
  position: absolute !important;
  font-size: 1.2em !important;

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: attr(data-pop);
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    background: $color-black;
    color: $color-white;
    padding: 0.4em;
    font-size: 0.8em;
    height: fit-content;
    width: max-content;
    opacity: 0;
    padding: 0.4em 1em;
    border-radius: 50px;
    transition: .4s ease-in-out;
    pointer-events: none;
    @media screen and (max-width: $break-mobile) {
      opacity: 1;
    }
  }
}
.shop-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &.two {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $break-mobile) {
    grid-template-columns: 1fr 1fr;
  }

  .product {
    padding: 0.4em;
    margin: 0 0 3em;
    position: relative;

    .quickview {
      position: absolute;
      transition: 0.3s ease;
      opacity: 0;
      bottom: 7em;
      left: 50%;
      transform: translateY(-10px) translateX(-50%);

      @media screen and (max-width: $break-mobile) {
        .desktop {
          display: none;
        }
        opacity: 1;
        position: absolute;
        top: 1em;
        right: 1em;
        left: unset;
        transform: none !important;

        button {
          padding: 0;
          height: 35px;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &:hover {
      .quickview {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
      }
    }

    img {
      height: auto;
    }

    &.compressed {
      img {
        object-fit: cover;
        max-height: 400px;
        height: auto;
      }
    }

    img.image-block {
      object-fit: cover;
      height: calc(100% - 0.4em - 75px);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    p {
      margin: 0;
      &.title {
        font-size: 1.1em;
        font-weight: 500;
        margin-top: 0.6em;
        color: $color-ink-dark;
      }
    }
  }
}
.product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: $color-white;
  transform: scale(0.8) translate(-50%,-50%);
  z-index: 98;
  padding: 2em;
  border-radius: $border-radius-large;
  opacity: 0;
  pointer-events: none;
  display: none;
  transform-origin: 0 0;
  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  box-shadow: 0px 10px 60px -4px #00000033;
  width: 90%;
  max-width: calc(#{$max-width} - #{$guttersize});
  max-height: 80%;
  overflow-y: scroll;

  @media screen and (max-width: $break-mobile) {
    max-height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .product_link {
    padding: 0 0 2em;
  }

  .product_image {
    max-width: 450px;

    @media screen and (max-width: $break-tablet) {
      max-width: unset;
      img {
        object-fit: cover;
        max-height: 50vh;
      }
    }
  }

  .close-modal {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 5;
  }

  &.active {
    pointer-events: all;
    opacity: 1;
    transform: scale(1) translate(-50%,-50%);
  }
}
.collections-list {
  display: flex;
  gap: 6em;
  margin: 10em auto 0;
  justify-content: flex-start;
  width: fit-content;
  padding: 0 ($gutter / 3);

  @media screen and (max-width: $break-tablet) {
    gap: 2em;
    margin: 8em auto 0;
    .wrapper {
      padding: 0;
    }
  }
  @media screen and (max-width: $break-mobile) {
    display: block;
  }

  .filter-collections {
    position: sticky;
    position: -webkit-sticky;
    top: 4em;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;

    @media screen and (max-width: $break-mobile) {
      display: none;
    }

    a {
      i {
        margin-right: 0.2em;
      }
      &.active {
        background: $color-black;
        color: $color-white;
      }
      &:hover:not(.active) {
        background: darken($color-grey, 3);
      }
     }
  }
  .products__section__header {
    margin-bottom: 2em;
    @media screen and (max-width: $break-mobile) {
      text-align: center;
    }
  }
}