.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}

$step: 0.2;
@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      margin: #{($i * $step)/ 2}em;
    }
  }
  .mt-#{$i} {
    margin-top: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      margin-top: #{($i * $step)/ 2}em;
    }
  }
  .mr-#{$i} {
    margin-right: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      margin-right: #{($i * $step)/ 2}em;
    }
  }
  .mb-#{$i} {
    margin-bottom: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      margin-bottom: #{($i * $step)/ 2}em;
    }
  }
  .ml-#{$i} {
    margin-left: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      margin-left: #{($i * $step)/ 2}em;
    }
  }

  .p-#{$i} {
    padding: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      padding: #{($i * $step)/ 2}em;
    }
  }
  .pt-#{$i} {
    padding-top: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      padding-top: #{($i * $step)/ 2}em;
    }
  }
  .pr-#{$i} {
    padding-right: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      padding-right: #{($i * $step)/ 2}em;
    }
  }
  .pb-#{$i} {
    padding-bottom: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      padding-bottom: #{($i * $step)/ 2}em;
    }
  }
  .pl-#{$i} {
    padding-left: #{$i * $step}em;
    @media only screen and (max-width: $mobile) {
      padding-left: #{($i * $step)/ 2}em;
    }
  }
}