@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap');

$mobile: 768px;
$gutter: 6em;
$guttersize: $gutter * 2;
$max-width: 954px;
$max-width-condensed: 700px;
$site-max-width: unset;

$break-tablet: 1200px;
$break-mobile: 768px;

$sidebar-width: 25vw;
$sidebar-max: 400px;

$sidebar-tablet: 120px;

$border-radius-normal: 6px;
$border-radius-large: 12px;
$border-radius-xlarge: 24px;
$border-radius-xxlarge: 48px;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: 'Newsreader', serif;


.transition-fade,
.transition-scale {
  opacity: 1;
  transition: opacity 0.3s, transform 0.4s;
  transform-origin: 50% 50vh;
}

::selection {
  background-color: $color-border;
  color: $color-ink-dark;
}

html {
	&.is-animating {
    .transition-fade,
		.transition-scale {
			opacity: 0;
		}
    .transition-scale {
      transform: scale(1.02);
    }
		&.is-leaving {
      .transition-fade,
			.transition-scale {
				opacity: 0;
			}
      .transition-scale {
        transform: scale(0.98);
      }
		}
		&.swup-theme-reverse {
      .transition-fade,
			.transition-scale {
				opacity: 0;
			}
      .transition-scale {
        transform: scale(0.98);
      }
			&.is-leaving {
        .transition-fade,
				.transition-scale {
					opacity: 0;
				}
        .transition-scale {
          transform: scale(1.02);
        }
			}
		}
	}
}

.mobile-only {
  display: none !important;
  @media screen and (max-width: $break-mobile) {
    display: inline-block !important;
  }
}
.hide-mobile {
  @media screen and (max-width: $break-mobile) {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html, body {
  padding: 0;
}
body {
  max-width: $site-max-width;
  margin: 0 auto;
  background: $color-white;
  color: $color-ink;
  font-family: $font-family;
  font-size: 13.5px;
  scrollbar-face-color: $color-blue;
  background: linear-gradient(180deg, #f1f1f1 0%, #FFFFFF 100%);

  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
main#swup {
  min-height: 60vh;
}
.crop {
  width: 100%;
  max-width: $site-max-width;
  height: fit-content;
  position: relative;
  overflow-x: hidden;
  overflow-x: clip;
}
.container {
  overflow-x: unset;
}

sup {
  font-size: 0.6em;
  margin-left: 0.2em;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.footnotes {
  color: $color-ink-muted;
  padding: 0 4em;
  font-size: 0.8em;
  margin-top: 10em;
  list-style: none;
  counter-reset: footnotes;

  @media screen and (max-width: $break-mobile) {
    padding: 0 1em;
  }

  sup {
    font-size: 0.8em;
  }
  li {
    margin: 0.6em;
    counter-increment: footnotes;
    position: relative;
    &::before {
      content: '[' counter(footnotes) ']';
      font-size: 0.8em;
      font-family: $font-family;
      position: absolute;
      left: -2.4em;
      top: -0.2em;
    }
  }
}

a,button,
input {
  &:focus-visible {
    outline: 2px solid lighten($color-blue, 30);
  }
}
h1,h2,h3 {
  color: $color-ink-dark;
}
h1,h2,h3,p {
  line-height: 1.8em;
}
h1 {
  font-weight: 500;
}
h3 {
  font-weight: 500;
  font-size: 1.4em;
  margin: 0;
}
h2 {
  font-size: 1.2em;
  font-weight: 500;
}
.serif {
  font-family: $font-serif;
  color: $color-ink-dark;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
}
.small {
  font-size: 0.8em;
}
.w-regular {
  font-weight: 400;
}
.w-medium {
  font-weight: 500;
}
.w-bold {
  font-weight: 600;
}
.center {
  text-align: center;
  margin: auto;
  width: fit-content;
}
.flex {
  display: flex;
  &.between {
    justify-content: space-between;
  }
  &.a-center {
    align-items: center;
  }
}
.grid {
  display: grid;
  align-items: center;
  
  &__50 {
    grid-template-columns: 100%;
    div {
      &:last-of-type {
        padding-top: 2em;
      }
    }
  }
}

img {
  width: 100%;
}

.wrapper {
  max-width: $max-width;
  margin: auto;

  &.condensed {
    max-width: $max-width-condensed;
  }
  &.margin-top {
    padding-top: 8em;
  }
  &.margin-bottom {
    padding-bottom: 3em;
  }

  @media screen and (max-width: $break-tablet) {
    padding: 0 ($gutter / 2);
  }
  @media screen and (max-width: $break-mobile) {
    padding: 0 ($gutter / 3);
  }
}

.section {
  margin: 6em 0;

  &.green {
    background: #E5EEE5;
    padding: 6em 3em;

    p.muted {
      color: #637263;
    }

    @media screen and (max-width: $break-mobile) {
      padding: 2em;
    }
  }

  &.grey {
    padding: 3em;
    background: $color-grey;
    border: 1px solid $color-border;
    position: relative;

    &.border-top-bottom {
      border-left: none;
      border-right: none;
    }

    @media screen and (max-width: $break-mobile) {
      padding: 2em;
    }
  }

  &.light-grey {
    padding: 3em;
    background: $color-grey-light;
    border: 1px solid $color-border;
    position: relative;

    @media screen and (max-width: $break-mobile) {
      padding: 2em;
    }
  }

  &.border {
    width: 100%;
    border-top: 1px solid $color-border;
  }

  &.no-border {
    border: none;
  }

  &.pagination {
    margin: 4em 0 0;
    padding: 2em 0;
  }

  &.newsletter {
    margin-bottom: 0;
  }

  @media screen and (max-width: $break-mobile) {
    margin: 4em 0;
  }
}

i.fa-arrow-right.external {
  transform: rotate(-45deg);
}

.card {
  background: $color-white;
  padding: 1em;
  border: 1px solid $color-grey;
  border-radius: $border-radius-normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;

  &.project {
    background: transparent;
    display: block;
    border: none;
    position: relative;
    z-index: 1;

    &.grey {
      background: darken($color-grey-light, 1);
    }
    &:hover,
    &:focus {
      &.grey {
        background: darken($color-grey-light, 4);
      }
      &:not(.grey) {
        background: transparent;
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    p {
      margin: 0.2em 0.4em;
    }
    p.title {
      display: inline-block;
      color: $color-ink-dark;
      border-bottom: 1px solid;
      border-color: $color-border;
      padding: 0 0 0.4em;

      i {
        font-size: 0.8em;
      }
    }
    &:not(.grey) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: $border-radius-normal;
        background: rgba(0,0,0,0.03);
        z-index: -1;
        pointer-events: none;
        transition: 0.3s ease;
        transform-origin: center;
        transform: scale(1.05);
        opacity: 0;
      }
    }
  }

  &.grey {
    background: $color-grey-light;
    &:hover {
      background: $color-grey;
    }
  }

  &:hover {
    background: $color-grey-light;
  }

  .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  p {
    line-height: 1.4em;
  }

  .arrow {
    margin-left: 1em;
  }

  .thumbnail {
    border-radius: $border-radius-large;
    overflow: hidden;
    margin-right: 1em;
    flex-shrink: 0;

    &.border {
      border: 1px solid $color-border;
    }

    &.icon {
      border: 1px solid $color-border;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__small {
      height: 45px;
      width: 45px;
    }
    &__large {
      height: 60px;
      width: 60px;

      @media screen and (max-width: $break-mobile) {
        height: 45px;
        width: 45px;
      }

      &.icon {
        @media screen and (min-width: $break-mobile) {
          font-size: 1.4em;
        }
      }
    }
  }

  p.title {
    font-weight: 500;
  }
  p.preline {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0 0 0.4em;
  }

  &.rounded {
    border-radius: 12px;
    .thumbnail {
      border-radius: 6px;
    }
    .arrow {
      padding-right: 0.4em;
    }
  }
}
span.badge {
  background: lighten($color-blue, 45);
  position: relative;
  top: -1px;
  color: $color-blue;
  border-radius: 20px;
  padding: 0.2em 0.6em;
  font-size: 0.8em;

  &.blue {
    color: $color-white;
    background: $color-blue;
  }
  &.grey {
    background: $color-white;
    border: 1px solid $color-border;
    color: $color-ink-muted;
  }
}

.border-radius {
  &__normal {
    border-radius: $border-radius-normal;
  }
  &__large {
    border-radius: $border-radius-large;
  }
  &__xlarge {
    border-radius: $border-radius-xlarge;
  }
  &__xxlarge {
    border-radius: $border-radius-xxlarge;
  }
  &__round {
    border-radius: 50%;
  }
}

.fade {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;

  &.cart-trigger {
    z-index: 99;
  }
  &.menu-trigger {
    z-index: 95;
  }
  
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.four_oh_four {
  padding: 10em 0;
}

.cookie-notice {
  display: flex;
  gap: 1em;
  padding: 0 1em;
  width: fit-content;
  border-radius: 6px;
  align-items: center;
  position: fixed;
  bottom: 2em;
  left: 2em;
  z-index: 95;
  background: rgba(250,250,250,0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 300px;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.4s ease;
  pointer-events: none;

  &.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }
  p {
    line-height: 1.4em;
  }
  button {
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
  }
}