$mobile: 768px;
$gutter: 6em;
$max-width: 1000px;

$break-tablet: 1200px;
$break-mobile: 768px;

$border-radius-normal: 6px;
$border-radius-large: 12px;

.swup-transition-main {
  opacity: 1;
  transition: opacity .3s, transform .4s;
  transform: translate3d(0, 0, 0);
}

html {
	&.is-animating {
		.swup-transition-main {
			opacity: 0;
			transform: translate3d(0, -30px, 0);
		}
		&.is-leaving {
			.swup-transition-main {
				opacity: 0;
				transform: translate3d(0, 30px, 0);
			}
		}
		&.swup-theme-reverse {
			.swup-transition-main {
				opacity: 0;
				transform: translate3d(0, 30px, 0);
			}
			&.is-leaving {
				.swup-transition-main {
					opacity: 0;
					transform: translate3d(0, -30px, 0);
				}
			}
		}
	}
}


* {
  box-sizing: border-box;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $color-white;
  color: $color-ink;
  font-family: "Metro Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
}

a,button {
  &:focus {
    outline: 2px solid lighten($color-blue, 30);
  }
}

h1,h2,h3,p {
  line-height: 1.6em;
}
h2 {
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
}
.small {
  font-size: 0.8em;
}
.center {
  text-align: center;
  margin: auto;
}
.flex {
  display: flex;
  &.between {
    justify-content: space-between;
  }
  &.a-center {
    align-items: center;
  }
}
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  @media screen and (max-width: $break-mobile) {
    display: block;
  }
}
.app_pane {
  position: relative;
}

.wrapper {
  padding: 0 $gutter;
  max-width: $max-width;
  margin: auto;

  @media screen and (max-width: $break-mobile) {
    padding: 0 ($gutter / 4);
  }
}

.section {
  margin: 4em 0;

  &:first-of-type {
    margin-top: 0;
  }

  @media screen and (max-width: $break-mobile) {
    margin: 2em 0;
  }
}

i.fa-arrow-right.external {
  transform: rotate(-45deg);
}

.card {
  border: 1px solid $color-border;
  padding: 1em;
  border-radius: $border-radius-normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: $color-grey;
  }

  .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  p {
    line-height: 1.2em;
  }

  .arrow {
    margin-left: 1em;
  }

  .thumbnail {
    border-radius: $border-radius-large;
    overflow: hidden;
    margin-right: 1em;
    flex-shrink: 0;

    &.border {
      border: 1px solid $color-border;
    }

    &.icon {
      border: 1px solid $color-border;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__small {
      height: 45px;
      width: 45px;
    }
    &__large {
      height: 60px;
      width: 60px;

      &.icon {
        font-size: 1.4em;
      }
    }
  }

  p.title {
    font-weight: 600;
  }
}

.border-radius {
  &__normal {
    border-radius: $border-radius-normal;
  }
  &__large {
    border-radius: $border-radius-large;
  }
  &__round {
    border-radius: 50%;
  }
}