$syntax-color-blue: #0000f5;
$syntax-color-dark-blue: #0a167f;
$syntax-color-light-blue: #2f6ebb;
$syntax-color-brown: #755f30;
$syntax-color-red: #95261f;
$syntax-color-pink: #a020d3;
$syntax-color-green: #3c845c;
$syntax-color-red-light: #d22d1f;

.highlighter-rouge {
  width: 100%;
}
.highlight pre {
  background-color: $color-grey;
  width: 100%;
  overflow-x: auto;
  display: block;
  padding: 2em;
  border-radius: 0 0 $border-radius-normal $border-radius-normal;
  margin: 0;
}
em.code-caption {
  position: relative;
  top: 1.7rem;
  background-color: $color-border;
  border-radius: $border-radius-normal $border-radius-normal 0 0;
  font-size: 0.7em;
  font-style: normal;
  font-family: monospace;
  text-align: left;
  color: $color-ink-muted;
  padding: 0 1em;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #008000;
} /* Comment */
.highlight .err {
  border: 1px solid #ff0000;
} /* Error */
.highlight .k {
  color: $syntax-color-pink;
} /* Keyword */
.highlight .cm {
  color: #008000;
} /* Comment.Multiline */
.highlight .cp {
  color: #0000ff;
} /* Comment.Preproc */
.highlight .c1 {
  color: #008000;
} /* Comment.Single */
.highlight .cs {
  color: #008000;
} /* Comment.Special */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gh {
  font-weight: bold;
} /* Generic.Heading */
.highlight .gp {
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  font-weight: bold;
} /* Generic.Subheading */
.highlight .kc {
  color: #0000ff;
} /* Keyword.Constant */
.highlight .kd {
  color: $syntax-color-blue;
} /* Keyword.Declaration */
.highlight .kn {
  color: #0000ff;
} /* Keyword.Namespace */
.highlight .kp {
  color: #0000ff;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #0000ff;
} /* Keyword.Reserved */
.highlight .kt {
  color: #2b91af;
} /* Keyword.Type */
.highlight .s {
  color: $syntax-color-red;
} /* Literal.String */
.highlight .n {
  color: $syntax-color-dark-blue;
}
.highlight .na {
  color: $syntax-color-brown;
}
.highlight .nb {
  color: $syntax-color-light-blue;
}
.highlight .nc {
  color: #2b91af;
} /* Name.Class */
.highlight .nf {
  color: $syntax-color-brown;
}
.highlight .nl {
  color: $syntax-color-red-light;
}
.highlight .nt {
  color: $syntax-color-red;
}
.highlight .nv {
  color: $syntax-color-light-blue;
}
.highlight .nx {
  color: $syntax-color-dark-blue;
}
.highlight .m {
  color: $syntax-color-green;
}
.highlight .ow {
  color: #0000ff;
} /* Operator.Word */
.highlight .sb {
  color: $syntax-color-red;
} /* Literal.String.Backtick */
.highlight .sc {
  color: $syntax-color-red;
} /* Literal.String.Char */
.highlight .sd {
  color: $syntax-color-red;
} /* Literal.String.Doc */
.highlight .s2 {
  color: $syntax-color-red;
} /* Literal.String.Double */
.highlight .se {
  color: $syntax-color-red;
} /* Literal.String.Escape */
.highlight .sh {
  color: $syntax-color-red;
} /* Literal.String.Heredoc */
.highlight .si {
  color: $syntax-color-red;
} /* Literal.String.Interpol */
.highlight .sx {
  color: $syntax-color-red;
} /* Literal.String.Other */
.highlight .sr {
  color: $syntax-color-red;
} /* Literal.String.Regex */
.highlight .s1 {
  color: $syntax-color-red;
} /* Literal.String.Single */
.highlight .ss {
  color: $syntax-color-red;
} /* Literal.String.Symbol */
.highlight .p {
  color: $syntax-color-blue;
}
