<div class="lightbox" data-lightbox>
  <button
    class="btn btn__basic--dark btn__circle btn__icon btn__scale--subtle lightbox__close"
    data-lightbox-close
    aria-label="Close"
  >
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
  <button
    class="btn btn__basic--dark btn__circle btn__icon btn__scale--subtle lightbox__nav lightbox__nav--prev"
    data-lightbox-prev
    aria-label="Previous"
  >
    <i class="fas fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button
    class="btn btn__basic--dark btn__circle btn__icon btn__scale--subtle lightbox__nav lightbox__nav--next"
    data-lightbox-next
    aria-label="Next"
  >
    <i class="fas fa-arrow-right" aria-hidden="true"></i>
  </button>
  <div class="lightbox__container">
    <div class="lightbox__container--content" data-lightbox-content></div>
  </div>
</div>
