<div class="product_page">
  <div class="product_image" id="product_image_container-{{ product.product_id }}" data-aos="fade-up">
    <img id="product_image-{{ product.product_id }}" data-product-id="{{ product.product_id }}" src="{{ product.images[0].src }}">
  </div>
  <div class="product_form" data-aos="fade">
    <p class="title">{{ product.title }}</p>
    <p class="price" id="product_price-{{ product.product_id }}">${{ product.variants[0].price | remove: '.00' }} CAD</p>
    <hr />
    <form id="AddToCartForm-{{ product.product_id }}">
      <div class="options">
        {% assign options = product.options | reverse %}
        {% for option in options %}
          {% assign option_index = forloop.index0 %}
          {% assign is_color = false %}
          {% assign downcased_option = option.name | downcase %}
          {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
            {% assign is_color = true %}
          {% endif %}
          <p class="header muted">{{ option.name }}</p>
          {% for value in option.values %}
            <div data-value="{{ value | slugify }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | slugify }}">
              <input class="{% if is_color %}color {% endif %}{{ value | slugify }}" id="swatch-{{ option_index }}-{{ value | slugify }}" type="radio" name="option-{{ option_index }}" data-product-id="{{ product.product_id }}" value="{{ value | slugify }}"{% if forloop.first %} checked{% endif %} data-value="{{ value | escape }}"/>
              <label class="{% if is_color %}color {% endif %}{{ value | slugify }}" for="swatch-{{ option_index }}-{{ value | slugify }}" data-product-id="{{ product.product_id }}">
                {{ value }}
              </label>
            </div>
          {% endfor %}
        {% endfor %}
        <input type="hidden" name="title" id="product-title-{{ product.product_id }}" value="{{ product.title }}" />
        <input type="hidden" name="url" id="product-url-{{ product.product_id }}" value="{{ product.url }}" />
        <input type="hidden" name="id" id="product-select-{{ product.product_id }}" value="{{ product.variants.first.id }}" />
        <input type="hidden" name="image" id="product-image-{{ product.product_id }}" value="{{ product.images[0].src }}" />
        <input type="hidden" name="price" id="product-price-{{ product.product_id }}" value="{{ product.variants.first.price }}" />
        <hr class="mt-10" />
        <button type="submit" class="btn btn__dark btn__round btn__padding-large product-modal-trigger" data-product-id="{{ product.product_id }}">
          Add to cart
        </button>
        {% if product.product_type == 'Photo Print' %}
          <p class="muted print-info">This gorgeous photograph is printed on a premium 240gsm paper with a satin lustre finish, and subtle pearl-like texture. It's printed using water based inks, uses a 10-mil RC base which gives prints a photographic feel, and keeps the paper cockle-free.</p>
        {% endif %}
      </div>
    </form>
  </div>
</div>
<script data-swup-reload-script>
  document.querySelectorAll(`input[type="radio"][data-product-id="{{ product.product_id }}"]`).forEach(el => {
    el.addEventListener('change', () => {
      selectVariant_{{ product.product_id }}();
    });
  });
  function selectVariant_{{ product.product_id }}() {
    {% if product.options[0] %}let opt2 = document.querySelector(`input[type="radio"][name="option-0"][data-product-id="{{ product.product_id }}"]:checked`).value;{% endif %}
    {% if product.options[1] %}let opt1 = document.querySelector(`input[type="radio"][name="option-1"][data-product-id="{{ product.product_id }}"]:checked`).value;{% endif %}

    var id_{{ product.product_id }} = '';
    {% for v in product.variants %}
    if(opt1=="{{ v.option1 | slugify }}"{% if product.options[1] %} && opt2=="{{ v.option2 | slugify }}"{% endif %}) {
      var id_{{ product.product_id }} = {{ v.id }};
      var price_{{ product.product_id }} = {{ v.price }};
      {% assign image = product.images | where: 'id', v.image_id %}
      var image_{{ product.product_id }} = '{{ image[0].src }}';
    }
    {% endfor %}
    if(id_{{ product.product_id }}!='') {
      document.getElementById('product-select-{{ product.product_id }}').value = id_{{ product.product_id }};
      document.getElementById('product-image-{{ product.product_id }}').value = image_{{ product.product_id }};
      loadingImage_{{ product.product_id }}();
      document.getElementById('product_image-{{ product.product_id }}').src = image_{{ product.product_id }};
      document.getElementById('product-price-{{ product.product_id }}').value = price_{{ product.product_id }};
      document.getElementById('product_price-{{ product.product_id }}').innerText = `$${price_{{ product.product_id }}} CAD`;
    } else {
      document.getElementById('product-select-{{ product.product_id }}').value = '';
      document.getElementById('product-image-{{ product.product_id }}').value = '';
      document.getElementById('product_price-{{ product.product_id }}').innerText = 'Unavailable';
    }
  }
  function loadingImage_{{ product.product_id }}() {
    document.querySelector('.product_image#product_image_container-{{ product.product_id }}').classList.add('loading');
  }
  document.getElementById('AddToCartForm-{{ product.product_id }}').addEventListener('submit', (event) => {
    event.preventDefault();
    let id = document.getElementById('product-select-{{ product.product_id }}').value;
    let image = document.getElementById('product-image-{{ product.product_id }}').value;
    let title = document.getElementById('product-title-{{ product.product_id }}').value;
    let option1 = document.querySelector('[name="option-0"][data-product-id="{{ product.product_id }}"]:checked').getAttribute('data-value');
    let option2 = document.querySelector('[name="option-1"][data-product-id="{{ product.product_id }}"]:checked').getAttribute('data-value');
    let price = document.getElementById('product-price-{{ product.product_id }}').value;
    let url = document.getElementById('product-url-{{ product.product_id }}').value;
    var product = {
      id: id,
      title: title,
      image: image,
      option1: option1,
      option2: option2,
      price: price,
      url: url
    };
    var cart;
    if (window.localStorage.getItem('cart')) {
      cart = JSON.parse(window.localStorage.getItem('cart'));
    } else {
      cart = new Array;
      document.querySelector('.notif').classList.toggle('active');
    }
    cart.push(product)
    window.localStorage.setItem('cart', JSON.stringify(cart));
    getCartItems();
    expandNav('cart');
  });
</script>