<div class="section shop-section flex">
  <div class="value-icon" data-aos="fade">
    <i class="fal fa-trees"></i>
  </div>
  <div class="value-content" data-aos="fade">
    <h3>Environmental Impact Promise</h3>
    <p>Much of my photography is based on my love of nature and the great outdoors. As such, it's a mission of mine to do what I can to protect our beautiful wilderness.</p>
    <p>In a small effort to help support the environment, I've partnered with One Tree Planted to assist in global reforestation projects. $10 from every print sold will go towards planting trees across the globe. According to One Tree Planted, each tree is $1, so for every print that you purchase 10 trees are planted.</p>
    <p>Additionally, if you make your purchase using Shop Pay, your order will be carbon offset.</p>
    <a href="/prints/pages/environmental-impact-promise" class="btn btn__link blue">Learn more about my environmental impact promise <i class="far fa-arrow-right ml-1" aria-hidden="true"></i></a>
  </div>
</div>
<div class="section shop-section flex">
  <div class="value-icon" data-aos="fade">
    <i class="fal fa-box-open"></i>
  </div>
  <div class="value-content" data-aos="fade">
    <h3>Packaging and Shipping</h3>
    <p>Keeping the integrity of your print safe during transport is something I don't take lightly. My prints are shipped in a range of packaging types depending on the size/variant of the item.</p>
    <h4 class="mb-0">Poster tube</h4>
    <p class="mt-2 muted">Rigid spiral-wound cardboard tubes in order to keep your photo print from being warped or torn during transport.</p>
    <h4 class="mb-0">Envelope</h4>
    <p class="mt-2 muted">Highly opaque, rigid postal envelopes for the smaller photo prints that don't take up a lot of space.</p>
    <h4 class="mb-0">Double-walled carboard box</h4>
    <p class="mt-2 muted">Rigid, double-wall corrugated cardboard boxes ensuring maximum protection when shipping photo prints that include a frame.</p>
  </div>
</div>