<div class="section" data-aos="fade">
  <div class="wrapper condensed chapter">
    <div class="chapter__title">
      <h3>About</h3>
    </div>
    <div class="chapter__content">
      <p>I currently work on full scale go-to-market campaigns for the Retail Marketing UX team at <a href="https://shopify.com/?ref=connellmccarthy.com" target="_blank">Shopify</a>. Prior to that, I led the design department at the new-age record label <a href="https://monstercat.com/?ref=connellmccarthy.com" target="_blank">Monstercat</a>.</p>

      <p>Outside of work I take photos and sell <a href="/prints">prints</a>, make <a href="http://coveomusic.com/?ref=connellmccarthy.com" target="_blank">music</a> and <a href="https://boandco.studio/?ref=connellmccarthy.com" target="_blank">build websites</a>. I'm passionate about clean and engaging designs, and taking on whatever role is needed to create a beautiful piece of work.</p>
    </div>
  </div>
</div>