<div class="section" data-aos="fade">
  <div class="wrapper condensed">
    <div class="chapter">
      <div class="chapter__title">
        <h3>{{ site.data.content.homepage.location.title }}</h3>
      </div>
      <div class="chapter__content">
        <p>{{ site.data.content.homepage.location.content }}</p>
        <div class="location-image">
          <img class="border-radius border-radius__large" src="/assets/img/ottawa-map.jpg" alt="Map of Ottawa with a pin in the center.">
        </div>
      </div>
    </div>
  </div>
</div>