<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <div class="sidebar__container">
        {% include sidebar.html %}
      </div>
      <div class="app_pane">
        {% include navigation.html %}
        <main id="swup" class="transition-fade article" aria-live="polite">
          <div class="article-info">
            <div class="wrapper">
              <a href="/articles" class="btn btn__basic">
                <span class="visually-hidden">Back to articles</span>
                <i class="far fa-arrow-left" aria-hidden="true"></i>
              </a>
              <div class="details">
                <p class="title">{{ page.title }}</p>
                <p class="muted">{{ page.date | date: "%B %d, %Y" }}</p>
              </div>
              <button id="like_button" class="btn btn__basic like_button">
                <i class="far fa-heart like_button_icon"></i>
                <span class="count">•</span>
              </button>
            </div>
          </div>
          <div class="wrapper">
            <div class="article-info-static">
              <a href="/articles" id="back-link">
                <i class="far fa-arrow-left mr-2" aria-hidden="true"></i>
                <span>Back to articles</span>
              </a>
              <button id="like_button" class="btn btn__link like_button">
                <i class="far fa-heart like_button_icon"></i>
                <span class="count">•</span> likes
              </button>
            </div>
            <div class="article_thumbnail">
              <img src="/assets/articles/{{ page.slug }}/{{ page.thumbnail }}">
            </div>
            <div class="article-info-static">
              {% assign article_words = content | strip_html | strip_newlines | downcase | replace: 'and','' | replace: 'the','' | split:' ' %}
              {% assign word_count = article_words | size %}

              <p class="muted">{{ page.title }} • {{ page.date | date: "%B %d, %Y" }}</p>
              <p class="muted">
                <i class="far fa-book mr-1" aria-hidden="true"></i>
                {{ word_count | times: 0.0076 | round }} minute read
                </p>
            </div>
            {{ content }}
            
            {% include newsletter.html %}

          </div>
          {% include pagination.html %}
        </main>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>