<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="container">
      <main id="swup" class="transition-scale article" aria-live="polite">
        <div class="article-info">
          <div class="wrapper">
            <a href="/article" class="btn btn__basic">
              <span class="visually-hidden">Back to articles</span>
              <i class="far fa-arrow-left" aria-hidden="true"></i>
            </a>
            <div class="details">
              <p class="title">{{ page.title }}</p>
              <p class="muted">{{ page.date | date: "%B %d, %Y" }}</p>
            </div>
            <button id="like_button_sticky" class="btn btn__basic like_button processing">
              <i class="far fa-heart like_button_icon"></i>
              <span class="count">•</span>
            </button>
          </div>
        </div>
        <div class="wrapper">
          <div class="article-info-static">
            <a href="/article" id="back-link">
              <i class="far fa-arrow-left mr-2" aria-hidden="true"></i>
              <span>Back to articles</span>
            </a>
            <button id="like_button_static" class="btn btn__link like_button processing">
              <i class="far fa-heart like_button_icon mr-1"></i>
              <span class="count">•</span> likes
            </button>
          </div>
          <div class="article_thumbnail">
            <img src="/assets/articles/{{ page.slug }}/{{ page.thumbnail }}" alt="{{ page.title }} thumbnail image.">
          </div>
          <div class="article-info-static">
            {% assign article_words = content | strip_html | strip_newlines | downcase | replace: 'and','' | replace: 'the','' | split:' ' %}
            {% assign word_count = article_words | size %}

            <p class="muted">{{ page.title }} • {{ page.date | date: "%B %d, %Y" }}</p>
            <p class="muted">
              <i class="far fa-book mr-1" aria-hidden="true"></i>
              {{ word_count | times: 0.0076 | round }} minute read
              </p>
          </div>

          <h1>{{ page.description }}</h1>

          {% assign hasfollowup = site.article | where: 'followup', page.slug %}
          {% if page.followup %}
            <div class="section border-radius__normal followup__container">
              <p class="muted followup__title">Read the original article</p>
              {% assign followups = site.article | where: 'slug', page.followup %}
              {% for followup in followups %}
                {% assign article_words = followup.content | strip_html | strip_newlines | downcase | replace: 'and','' | replace: 'the','' | split:' ' %}
                {% assign reading_time = article_words | size | times: 0.0076 | round  %}
                {% include card.html
                  url = followup.url
                  style = 'grey'
                  inline = true
                  preline_icon = 'copy'
                  preline = 'Original article'
                  title = followup.title
                  description = followup.description
                  date = followup.date
                  cta = 'Read article'
                  external = false %}
              {% endfor %}
            </div>
          {% elsif hasfollowup.size >= 1 %}
            <div class="section border-radius__normal followup__container">
              <p class="muted followup__title">Read the latest update</p>
              {% for followup in hasfollowup %}
                {% assign article_words = followup.content | strip_html | strip_newlines | downcase | replace: 'and','' | replace: 'the','' | split:' ' %}
                {% assign reading_time = article_words | size | times: 0.0076 | round  %}
                {% include card.html
                  url = followup.url
                  style = 'grey'
                  inline = true
                  preline_icon = 'copy'
                  preline = 'Follow up article'
                  title = followup.title
                  description = followup.description
                  date = followup.date
                  cta = 'Read article'
                  external = false %}
              {% endfor %}
            </div>
          {% endif %}

          {{ content }}
          
          {% include newsletter.html %}

        </div>
        {% include pagination.html type='article' %}
      </main>
    </div>
    {% include scripts.html %}
  </body>
</html>