<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="container">
      <main id="swup" class="transition-fade" aria-live="polite">
        <div class="wrapper">
          {% include shop/collections.html %}
          <div class="shop-product-list">
            {% for product in site.products %}
              {% assign page_tags = page.identifier | split: ', ' %}
              {% assign product_tags = product.tags | replace: ',', ', ' %}
              {% assign display = false %}
              {% for tag in page_tags %}
                {% if product_tags contains tag %}
                  {% assign display = true %}
                {% endif %}
              {% endfor %}
              {% if display %}
                {% include shop/product-card.html %}
              {% endif %}
            {% endfor %}
          </div>
          {% include newsletter.html %}
        </div>
      </main>
    </div>
    {% include scripts.html %}
  </body>
</html>